<div class="row">
    <div class="col-lg-4 col-md-4">
        <h5>Depth</h5>
        <input type="text" class="form-control" placeholder="Input the depth value" data-bind="inputmask: $root.Filter.DepthValue,
                               settings: {'regex': '^[+]?([0-9]+(?:[\.][0-9]*)?|\.[0-9]+)(?:[eE][+-]?[0-9]+)?$', rightAlign: false, 'autoGroup': true}">
    </div>
    <div class="col-lg-3 col-md-2">
        <button type="button" class="btn btn-primary" style="margin-top: 32px" data-bind="click: $root.Filter.ApplyFilter">Submit</button>
    </div>
</div>