<div class="card">
    <div class="card-header">
        <span data-bind="text: Title"></span>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Price</th>
                    <th>Volume</th>
                    <th>Cumulative Volume</th>
                </tr>
                </thead>
                <tbody data-bind="foreach: OrdersData">
                <tr>
                    <td data-bind="numericText: price, precision: 2"></td>
                    <td data-bind="numericText: volume, precision: 8"></td>
                    <td data-bind="numericText: cumulativeVolume, precision: 5"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <!-- ko with: Pager -->
            <div class="col-md-3">
                <div data-bind="template: {name: 'Pagination-Knockout-Template-Info'}"></div>
                
            </div>
            <div class="col-md-9">
                <div data-bind="template: {name: 'Pagination-Knockout-Template'}"></div>
            </div>
            <!--/ko-->
        </div>
    </div>
</div>